/** ---------------------- **/
/** ------- header ------- **/
/** ---------------------- **/

:root {
  --input-border-radius: 10px;
}

div#publicLayout header#mainMenuHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  background-color: #FFFFFF;
  box-shadow: -6px 10px 50px -2px #BADBFF;
  z-index: 10;
}

div#publicLayout header#mainMenuHeader .onlyMobile {
  display: none;
}

div#publicLayout header#mainMenuHeader div.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: var(--header-height);
  padding: 3dvh 7dvw;
}

div#publicLayout header#mainMenuHeader div img {
  width: 10rem;
  height: 3.25rem;
  margin-right: 3.75dvw;
}

div#publicLayout header#mainMenuHeader form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: fit-content;
  margin: 0;
}

div#publicLayout header#mainMenuHeader nav {
  flex-grow: 1;
}

div#publicLayout header#mainMenuHeader nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

div#publicLayout header#mainMenuHeader nav ul li {
  position: relative;
  padding: .5rem;
  margin-left: 52px;
}

div#publicLayout header#mainMenuHeader nav ul li:first-child {
  padding-left: 0;
}

div#publicLayout header#mainMenuHeader nav ul li:last-child {
  padding-right: 0;
}

div#publicLayout header#mainMenuHeader nav ul li a {
  position: relative;
  width: fit-content;
  font-size: 1rem;
  text-decoration: none;
  color: #151515;
  transition: .3s;
}

div#publicLayout header#mainMenuHeader nav ul li a:after {
  content: '';
  position: absolute;
  background: var(--cobalt-blue);
  height: 1px;
  width: 0;
  left: 0;
  bottom: -.3rem;
  transition: .3s;
}

div#publicLayout header#mainMenuHeader nav ul li a:hover {
  color: var(--cobalt-blue);
}

div#publicLayout header#mainMenuHeader nav ul li a:hover:after {
  width: 100%;
}

div#publicLayout header#mainMenuHeader nav ul li a.button {
  font-family: var(--font-montserrat);
  font-size: 1rem;
  border-radius: 10px;
  background-color: #0A0A0B;
  padding: 1rem;
  color: #FFFFFF;
  transition: .3s;
}

div#publicLayout header#mainMenuHeader nav ul li a.button:hover {
  background-color: var(--cobalt-blue);
  border-color: var(--cobalt-blue);
}

div#publicLayout header#mainMenuHeader nav ul li a.button:hover:after {
  width: 0;
}

/* MOBILE */
@media only screen and (max-width: 800px) {
  div#publicLayout header#mainMenuHeader .onlyMobile {
    display: inline-block;
  }

  div#publicLayout header#mainMenuHeader {
    bottom: 0;
    height: var(--header-height-mobile);
    overflow: hidden;
    transition: .3s;
  }

  div#publicLayout header#mainMenuHeader div.headerContainer {
    height: fit-content;
    padding: 1rem 3rem;
  }

  div#publicLayout header#mainMenuHeader form,
  div#publicLayout header#mainMenuHeader nav ul {
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  div#publicLayout header#mainMenuHeader form,
  div#publicLayout header#mainMenuHeader nav {
    margin-right: 0;
  }

  div#publicLayout header#mainMenuHeader form,
  div#publicLayout header#mainMenuHeader nav,
  div#publicLayout header#mainMenuHeader nav ul,
  div#publicLayout header#mainMenuHeader nav ul li,
  div#publicLayout header#mainMenuHeader nav ul li a {
    width: 100%;
  }

  div#publicLayout header#mainMenuHeader button.toggleMenu {
    background: none;
  }

  div#publicLayout header#mainMenuHeader button.toggleMenu,
  div#publicLayout header#mainMenuHeader button.toggleMenu img {
    margin: 0;
    padding: 0;
    height: 2rem;
    width: auto;
  }

  div#publicLayout header#mainMenuHeader nav ul li {
    text-align: center;
    height: fit-content;
    padding: 2rem 0;
    margin: 0;
  }

  div#publicLayout header#mainMenuHeader nav ul li a.button {
    display: inline-block;
    padding: .25rem 0;
    width: 100%;
  }

  div#publicLayout header#mainMenuHeader nav ul li a,
  div#publicLayout header#mainMenuHeader nav ul li a.button {
    font-size: 2.5rem;
  }

  div#publicLayout header#mainMenuHeader.menuOpen {
    height: 100dvh;
    overflow: scroll;
  }
}