/* ----------------------------- */
/* ------- LATEST EVENTS ------- */
/* ----------------------------- */

section.latestEvents {
    position: relative;
    width: 100%;
    padding: 1.4rem 0;
}

section.latestEvents div#latestEventsSectionSpaced {
    position: absolute;
    width: 0;
    height: 0;
    top: var(--header-height-neg);
}

section.latestEvents h2 {
    display: inline-block;
    width: fit-content;
    padding: 0;
    font-size: 2.5rem;
    font-weight: 700;
    color: #151515;
    text-align: left;
    margin-left: 7dvw;
}

section.latestEvents a {
    float: right;
    width: fit-content;
    padding: 0;
    font-size: 1.5rem;
    text-align: right;
    text-decoration: none;
    color: #151515;
    font-weight: 600;
    margin-right: 7dvw;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    line-height: 5rem;
}

section.latestEvents div.latestEvents-container {
    width: 100%;
    padding: 22px calc(7dvw - 60px) 42.6px calc(7dvw - 12px);
    overflow: hidden;
}

/* MOBILE */
@media only screen and (max-width: 800px) {
    section.latestEvents {
        position: relative;
        padding-bottom: 3rem;
    }

    section.latestEvents div.latestEvents-container {
        padding: 1rem 0;
    }

    section.latestEvents h2 {
        width: 100%;
        text-align: center;
        font-size: 1.125rem;
    }

    section.latestEvents a {
        font-size: .75rem;
        position: absolute;
        bottom: .5rem;
        width: 100%;
        text-align: center;
        line-height: 1rem;
        justify-content: center;
        align-items: center;
    }

    section.latestEvents div#latestEventsSectionSpaced {
        top: calc(var(--header-height-mobile-neg) * 1.2);
    }
}